<?xml version="1.0"?>
<flexibleconfig path="$(BuildDirectory)\_init.include" />
<configuration>
	<connectionStrings>
		<add name="DbChangeManagement" connectionString="Persist Security Info=False;Integrated Security=true;server=<?=dbInstance ?>;pooling=false"/>
	</connectionStrings>
</configuration>